h2{
    text-align: center;
}

.divTitle {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
}

.pTitle{
    float: right;
    padding-right: 20px;
}

iframe{
    border: none;
}

iframe[name=left] {
    width: 200px;
    height: 800px;
}

iframe[name=body] {
    width: 800px;
    height: 800px;
    background-color: #DDDDDD;
}

body {
    background-color: #BBBBBB;
    width: 1000px;
    margin: 0 auto;
}


