<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/image/favicon.ico}" rel="shortcut icon" type="image/x-icon">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/toastr.min.css}" rel="stylesheet" type="text/css">
    <title>校园外卖</title>
</head>
<style>
    .card-body .text-center:hover {
        background-color: #f7f7f7;
    }
</style>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <!--已登录-->
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/sell/user/index">校园点餐</a>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/sell/user/order/index/">我的订单</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
                                <img th:src="${img}"
                                     style="width: 30px;height: 30px;line-height: 30px;border-radius: 50%"/>
                                <span th:text="${name}"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">个人中心</a>
                                <span id="ur" style="display: none" th:text="${id}"></span>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)" th:onclick="|userLogout('${id}')|">退出登录</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="row" style="padding: 100px 0 0 0">
        <div class="col-md-1"></div>

        <div class="col-md-10">
            <div class="row">

                <div class="col-md-6" style="padding-bottom: 30px">
                    <div class="card bg-default">
                        <h5 class="card-header">
                            用户手机号修改
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                <h3 th:text="'手机号： '+${user.getPhone()}"></h3>
                            </p>
                            <form role="form" method="post" id="phoneForm">
                                <div class="form-group">
                                    <label for="phone">
                                        修改手机号
                                    </label>
                                    <input type="text" class="form-control" id="phone" name="phone" required/>
                                </div>

                                <button id="unPhone" type="button" class="btn btn-light">
                                    修改
                                </button>
                                <button type="reset" class="btn btn-light">
                                    重置
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" style="padding-bottom: 30px">
                    <div class="card bg-default">
                        <h5 class="card-header">
                            用户名修改
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                <h3 id="nameText" th:text="'用户名： '+${user.getUsername()}"></h3>
                            </p>
                            <form role="form" method="post" id="nameForm">
                                <div class="form-group">
                                    <label for="username">
                                        修改用户名
                                    </label>
                                    <input type="text" class="form-control" id="username" name="username" required/>
                                </div>

                                <button type="button" id="unBtn" class="btn btn-light" th:onclick="|updateName('${id}')|">
                                    修改
                                </button>
                                <button type="reset" class="btn btn-light">
                                    重置
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" style="padding-bottom: 30px">
                    <div class="card bg-default">
                        <h5 class="card-header">
                            用户头像修改
                        </h5>
                        <div class="card-body">
                            <img class="img-thumbnail w-50" id="imgLogo" th:src="${user.getUserImg()}"/>
                            <form id="logoForm" role="form" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="userImg">
                                        上传图片
                                    </label>
                                    <input type="file" class="form-control-file" onchange="showImg(this,'#showImg')"
                                           id="userImg" name="userImg" required accept="image/*"/>
                                </div>
                                <button type="button" class="btn btn-light" th:onclick="|updateLogo('${id}')|">
                                    修改
                                </button>
                                <button type="reset" class="btn btn-light">
                                    重置
                                </button>
                                <a id="modal-337187" href="#modal-container-337187" class="btn" data-toggle="modal">预览图片</a>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" style="padding-bottom: 30px">
                    <div class="card bg-default">
                        <h5 class="card-header">
                            用户密码修改
                        </h5>
                        <div class="card-body">
                            <form role="form" id="pwdForm">
                                <div class="form-group">
                                    <label for="password">
                                        原密码
                                    </label>
                                    <input type="password" class="form-control" id="password" name="password" required/>
                                </div>
                                <div class="form-group">
                                    <label for="newPassword">
                                        新密码
                                    </label>
                                    <input type="password" class="form-control" id="newPassword" name="newPassword" required/>
                                </div>
                                <div class="form-group">

                                    <label for="verifyNewPassword">
                                        确认密码
                                    </label>
                                    <input type="password" class="form-control" id="verifyNewPassword" required name="verifyNewPassword"/>
                                </div>

                                <button id="unPwd" type="button" class="btn btn-light">
                                    修改
                                </button>
                                <button type="reset" class="btn btn-light" >
                                    重置
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" style="padding-bottom: 30px">
                    <div class="card bg-default">
                        <h5 class="card-header">
                            用户地址修改
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                <h3 id="addressText" th:text="'地址： '+${user.getAddress()}"></h3>
                            </p>
                            <form role="form" method="post" id="addressForm">
                                <div class="form-group">
                                    <label for="address">
                                        修改地址
                                    </label>
                                    <input type="text" class="form-control" id="address" name="address" required="required"/>
                                </div>

                                <button type="button" class="btn btn-light" th:onclick="|updateAddress('${id}')|">
                                    修改
                                </button>
                                <button type="reset" class="btn btn-light">
                                    重置
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-md-1"></div>
    </div>

    <footer class="footer" style="border-top: 1px solid #E8F2F7;margin-top: 50px">
        <div class="row text-center">
            <div class="col-md-12" style="margin: 20px 0">
                <a style="margin: 10px" href="mailto:hcb739237663@gmail.com">
                    <img th:src="@{/image/gmail.png}"/>
                </a>

                <a target="_blank" style="margin: 10px" href="https://github.com/ChengBinH">
                    <img th:src="@{/image/github.png}"/>
                </a>

                <a target="_blank" style="margin: 10px" href="https://weibo.com/234495038">
                    <img th:src="@{/image/weibo.png}"/>
                </a>

                <a style="margin: 10px" href="https://www.baidu.com">
                    <img th:src="@{/image/alipay.png}"/>
                </a>

                <a style="margin: 10px" href="https://www.baidu.com">
                    <img th:src="@{/image/wechat.png}"/>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center text-primary">
                Copyright ©2018-2019 , All Rights Reserved.
            </div>
        </div>
    </footer>

    <div class="modal fade" id="modal-container-337187" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">
                        预览图片
                    </h5>
                </div>
                <div class="modal-body">
                    <img id="showImg" class="d-block w-100"/>
                </div>
            </div>

        </div>

    </div>

</div>
<script th:src="@{/js/jQuery.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/toastr.min.js}"></script>
<script th:src="@{/js/toastTemplet.js}"></script>
<script th:src="@{/js/gt.js}"></script>
<script th:src="@{/js/userInfo.js}"></script>
<script th:src="@{/js/showImg.js}"></script>
</body>
</html>
