body{
    background-color: lightgrey;
}

*{
    margin: 0;
    padding: 0;
}

div{
    width: 450px;
    margin: 0 auto;
}

main{
    width: 450px;
    height: 450px;
    border: 1px solid green;
    box-shadow: 1px 1px 5px black;
    background-color: #ffffff;
    position: relative;
}

h2{
    text-align: center;
}

#ba img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    right: -50px;
    top: 0;
    transform: rotateY(70deg);
    animation: rotateOut linear infinite;
}

#jian img{
    width: 150px;
    /* height: 150px; */
    position: absolute;
    transform: rotateX(60deg);
    z-index: 2;
}

button{
    width: 100px;
    background-color: lightgray;
    height: 30px;
    color: #ffffff;
    margin: 10px 20px 10px 0;
}
select{
    float: right;
    height: 30px;
    margin: 10px 0;
}