<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="business/common/head::head"></head>
<body>
<div class="container-fluid">
    <div th:replace="business/common/header::header"></div>

    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">

            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>分类ID</th>
                    <th>分类名</th>
                    <th>分类编号</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category:${categoryList}">
                    <td th:text="${category.getCategoryId()}"></td>
                    <td th:text="${category.getCategoryName()}"></td>
                    <td th:text="${category.getCategoryType()}"></td>
                    <th><a th:href="'/sell/business/category/save?categoryId='+${category.getCategoryId()}">修改</a></th>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="col-md-2"></div>
    </div>

</div>
</body>
</html>

