<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="business/common/head::head"></head>
<body>
<div class="container-fluid">
    <div th:replace="business/common/header::header"></div>

    <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">

            <form role="form" action="/sell/business/category/save" method="post">

                <div class="form-group">
                    <label for="categoryId">
                        分类ID
                    </label>
                    <input placeholder="自动生成" th:value="${category?.getCategoryId()}" type="text"
                           class="form-control" readonly required id="categoryId" name="categoryId" />
                </div>

                <div class="form-group">
                    <label for="categoryName">
                        分类名
                    </label>
                    <input type="text" th:value="${category?.getCategoryName()}" class="form-control"
                           required id="categoryName" name="categoryName" />
                </div>

                <div class="form-group">
                    <label for="categoryType">
                        分类编号
                    </label>
                    <input type="number" th:value="${category?.getCategoryType()}" class="form-control"
                           required id="categoryType" name="categoryType" />
                </div>

                <button type="submit" class="btn btn-primary btn-block">
                    添加分类
                </button>
            </form>

        </div>

        <div class="col-md-4"></div>
    </div>

</div>
</body>
</html>
