<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
   <display-name>Archetype Created Web Application</display-name>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>cn.itcast.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>cn.itcast.vcode.servlet.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/VerifyCodeServlet</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>com.cheng.shop.web.filter.loginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/jsps/cart/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/jsps/order/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <servlet-name>CartItemServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <servlet-name>OrderServlet</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>AdminLoginFilter</filter-name>
        <filter-class>com.cheng.shop.admin.web.filter.AdminLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminLoginFilter</filter-name>
        <url-pattern>/adminjsps/admin/*</url-pattern>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

</web-app>
