<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订餐系统-用户列表</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">用户列表</div>
    <div class="panel-body">
        <!--新增链接-->
        <a class="btn btn-primary" href="/user/add">新增</a>
        <!--列表模板-->
        <table class="table table-bordered" style="margin-top: 5px;">
            <thead>
            <tr>
                <th>id</th>
                <th>用户名</th>
                <th>姓名</th>
                <th>电话</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${list}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.mobile}"></td>
                <!--1.<td><a href="" th:href="@{/user/delete/(id=${user.id})}">删除</a></td>-->
                <td><a href="" th:href="@{/user/delete/{id}(id=${user.id})}">删除</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
