<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>智游问卷调查系统-首页</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        li {
            list-style-type: none;
        }
    </style>
</head>
<body>
<!--布局-->
<div class="container-fluid" style="margin-top: 10px;">
    <!--头部区域-->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">订单系统</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span>
                            <span th:text="${session.username}"></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">修改密码</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/loginOut">退出</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        <!--导航区域-->
        <div class="col-md-2" style="margin-right: -25px;">
            <div class="panel panel-default">
                <div class="panel-heading">智游问卷调查系统</div>
                <div class="panel-body" style="height: 500px;">
                    <ul style="padding-left: 5px;">
                        <li>
                            <a href="/user/list" target="main-body">用户管理</a>
                        </li>
                        <li>
                            <a href="/product/list" target="main-body">产品管理</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--内容区域-->
        <div class="col-md-10">
            <iframe src="" frameborder="0" scrolling="no" id="main-body" name="main-body" width="100%"
                    height="1500px"></iframe>
        </div>
    </div>
</div>
<script src="https://cdn.staticfile.org/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    //iframe高度自适应
    function setIframeHeight(iframe) {
        if (iframe) {
            var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
            if (iframeWin.document.body) {
                iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
            }
        }
    };
    window.onload = function () {
        setIframeHeight(document.getElementById('main-body'));
    };
</script>
</body>
</html>
